/tmp/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

/server/config/*
/server/build/
/server/bin/
/server/images/

# Checkout of the SimpleGame engine
/SimpleGame/

# Game configuration files (create these for your game)
/.game_name
/.docker_repo
/.docker_creds

# Local test server PID file
.local_test_server.pid

# Agent test database directory
.agent_test_db/
# Local generation statistics
.commit/
